/* =============================================================================
   width
   ========================================================================== */

//https://stackoverflow.com/a/37485864   
   
// Smartphones (portrait)
@media (max-width: 320px) {

}

// Smartphones (landscape)
@media (min-width: 321px) {

}

// Smartphones (portrait and landscape)
@media (min-device-width: 320px) and (max-device-width: 576px) {

}

/* da 0px a 576px */
@include media-breakpoint-down(xs) {

}

/* da 576px in su */
@include media-breakpoint-up(sm) {

}

/* da 0px a 768px */
@include media-breakpoint-down(sm) {

}

/* da 576px a 768px */
@include media-breakpoint-only(sm) {

}

/* da 768px in su */
@include media-breakpoint-up(md) {

}

/* da 0px a 992px */
@include media-breakpoint-down(md) {

  header {
    background-color: rgba(color('black'), .9);
    @include box-shadow(0 1px 3px rgba(color('black'), .15));

    .navbar {
      padding-top: map-get($spacers, 2) !important;
      padding-bottom: map-get($spacers, 2) !important;

      .navbar-nav {

        &.navbar-center {
          text-align: center;
        }
      }
    }
  }
}

/* da 768px a 992px */
@include media-breakpoint-only(md) {

}

/* da 992px in su */
@include media-breakpoint-up(lg) {

  //https://www.geeksforgeeks.org/how-to-align-navbar-items-to-center-using-bootstrap-4/
  .navbar-nav {

    &.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }
}

/* da 0px a 1200px */
@include media-breakpoint-down(lg) {

}

/* da 992px a 1200px */
@include media-breakpoint-only(lg) {

}

/* da 1200px in su */
@include media-breakpoint-up(xl) {

  .navbar-nav {

    &#navbar-main {

      .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-weight: bold;
      }
    }
  }
}


/* =============================================================================
   height
   ========================================================================== */  
 /* da 0 a 576px */
@media (max-height: 576px) {

}  
   
/* da 0 a 767px */
@media (max-height: 767px) {

}

/* da 576px a 767px */
@media (min-height: 576px) and (max-height: 767px) {

}

/* da 768px a 991px */
@media (min-height: 768px) and (max-height: 991px) {

}

/* da 992px in su */
@media (min-height: 992px)  {

}
