<!-- #about -->
<section id="about" class="text-light bg-black">

    <!-- .container -->
    <div class="container py-7">

        <!-- .section-title -->
        <div class="section-title text-center">

            <div class="row justify-content-center">
                <div class="col-4 col-sm-3 col-md-2">
                    <div class="bg-primary py-2 mb-3 display-4">
                        <i class="fas fa-stream"></i>
                    </div>
                </div>
            </div>

            <h2 class="font-family-2 mb-6 display-4">
                Profilo
            </h2>

        </div>
        <!-- /.section-title -->

        <!-- .section-content -->
        <div class="section-content">

            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <img class="img-fluid mb-3 mb-md-0" src="/assets/img/about/1.jpg" alt="">
                </div>
                <div class="col-md-7 col-lg-8">
                    <h3 class="mb-3">ILive.YOU</h3>

                    <p>ILive.YOU offre streaming video in tempo reale. Streaming video H.264 di telecamere
                        IP in diretta sul tuo sito Web. Carica il tuo live streaming su YouTube, Twitch,
                        Facebook, Vimeo o qualsiasi altra soluzione di streaming.</p>
                    <p>Sei una parrocchia? Vuoi trasmettere dal vivo le Celebrazioni in modo automatico? Sei
                        una pubblica amministrazione? Con noi puoi pubblicare il consiglio comunale in live
                        sulle piattaforme Social. Sei una associazione sportiva che vuole trasmettere le
                        partite della propria squadra? Contattaci!</p>

                    {{> sharer}}
                </div>
            </div>

        </div>
        <!-- /.section-content -->

    </div>
    <!-- /.container -->

</section>
<!-- /#about -->
