<!-- #accessory -->
<section id="accessory" class="bg-dark">

    <!-- .container -->
    <div class="container py-7">

        <!-- .section-content -->
        <div class="section-content text-dark text-center">

            <h2 class="font-family-2 mb-5 text-muted">
                Servizi Accessori per tutti i piani
            </h2>

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/hardware.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Video hardware</h4>
                            <p class="card-text text-secondary">Fornitura hardware video (ipcamera e accessori)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/dvr.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">DVR Recording</h4>
                            <p class="card-text text-secondary">Installazione apparato nvr o dvr per registrazioni</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/collaudo.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Local Work</h4>
                            <p class="card-text text-secondary">Sopralluogo, installazione e collaudo</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/plugin.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Embedding web</h4>
                            <p class="card-text text-secondary">Widget sul sito</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/lock.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Area Privata</h4>
                            <p class="card-text text-secondary">Live area riservata sul sito per utenti registrati</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/extract.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Estrazione video</h4>
                            <p class="card-text text-secondary">Recupero flussi video</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/schedule.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Schedule streaming</h4>
                            <p class="card-text text-secondary">I flussi video possono essere programmati a
                                seconda delle esigenze</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="/assets/img/accessory/youtube-managing.png" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Canale YouTube</h4>
                            <p class="card-text text-secondary">Provvediamo all'apertura del famoso canale
                                social per essere più vicino ai tuoi followers</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.section-content -->

    </div>
    <!-- /.container -->

</section>
<!-- /#accessory -->
