<!-- #contact -->
<section id="contact" class="text-white bg-black">

    <!-- .container -->
    <div class="container py-7">

        <!-- .section-title -->
        <div class="section-title text-center">

            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="bg-primary py-2 mb-3 display-4">
                        <i class="fas fa-info-circle"></i>
                    </div>
                </div>
            </div>

            <h2 class="font-family-2 mb-6 display-4">
                Contattaci
            </h2>

        </div>
        <!-- /.section-title -->

        <!-- .section-content -->
        <div class="section-content text-center">

            <div class="row justify-content-center">
                <div class="col-md-8">

                    <p class="mb-5 wow fadeIn" data-wow-duration="1s">Domande? Scrivici, ti risponderemo al più presto.</p>

                    <form data-sync class="needs-validation" novalidate method="POST" autocomplete="off" role="form" action="https://formspree.io/mgenqldw">

                        <div class="form-group wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <input required class="form-control text-white text-center" name="name" type="text" placeholder="Nome">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="form-group wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <input required class="form-control text-white text-center" name="email" type="email" placeholder="Email">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="form-group wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                            <textarea required class="form-control text-white text-center" name="message" rows="5" placeholder="Messaggio"></textarea>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="form-check text-muted text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                            <input required class="form-check-input" name="privacy" type="checkbox" value="1" id="contact-privacy">
                            <label class="form-check-label" for="contact-privacy">
                                Ho letto la <a data-fancybox data-type="ajax" data-filter="main" data-caption="Privacy Policy" data-src="/privacy.html" title="Privacy Policy" href="javascript:;">Privacy Policy</a> e acconsento
                            </label>
                            <div class="invalid-feedback"></div>
                        </div>

                        <br>

                        <div class="text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                            <button class="btn btn-primary" type="submit" autocomplete="off" data-loading-text="<span class='spinner-border spinner-border-sm mr-1' role='status' aria-hidden='true'></span> Attendere&hellip;">
                                Invia <i class="fas fa-paper-plane ml-1"></i>
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
        <!-- /.section-content -->

    </div>
    <!-- /.container -->

</section>
<!-- /#contact -->
