<!-- #partners -->
<section id="partners" class="text-light bg-dark">

    <!-- .container -->
    <div class="container py-7">

        <ul class="owl-carousel p-0" data-options="{
                loop: true,
		        margin: 30,
		        autoplay: 6000,
		        autoWidth: false,
		        nav: false,
		        dots: false,
		        items: 4,
		        smartSpeed: 3000,
		        autoplayHoverPause: true,
		        responsive: {
		            0: {items: 2}, // from 0 up
		        	576: {items: 2}, // from 576 up
		        	768: {items: 3}, // from 768 up
		        	992: {items: 4} // from 992 up
		        }
            }">
            <li class="item d-flex align-items-center justify-content-center">
                <a class="d-block w-100" href="https://ewake.it" target="_blank">
                    <img src="/assets/img/partners/ewake.png" alt=""/>
                </a>
            </li>
            <li class="item d-flex align-items-center justify-content-center">
                <a class="d-inline-block w-100" href="javascript:;">
                    <img src="/assets/img/partners/gxcom.png" alt=""/>
                </a>
            </li>
            <li class="item d-flex align-items-center justify-content-center">
                <a class="d-inline-block w-100" href="https://prosmedia.org" target="_blank">
                    <img src="/assets/img/partners/prosmedia.png" alt=""/>
                </a>
            </li>
            <li class="item d-flex align-items-center justify-content-center">
                <a class="d-inline-block w-100" href="javascript:;">
                    <img src="/assets/img/partners/ssl-secure.png" alt=""/>
                </a>
            </li>
            <li class="item d-flex align-items-center justify-content-center">
                <a class="d-inline-block w-100" href="javascript:;">
                    <img src="/assets/img/partners/youtube.png" alt=""/>
                </a>
            </li>
            <li class="item d-flex align-items-center justify-content-center">
                <a class="d-inline-block w-100" href="javascript:;">
                    <img src="/assets/img/partners/twitch.png" alt=""/>
                </a>
            </li>
            <li class="item d-flex align-items-center justify-content-center">
                <a class="d-inline-block w-100" href="javascript:;">
                    <img src="/assets/img/partners/facebook-live.png" alt=""/>
                </a>
            </li>
        </ul>

    </div>
    <!-- /.container -->

</section>
<!-- /#partners -->
