<div class="preloader-wrapper flex-column align-items-center justify-content-center bg-dark text-white vw-100 vh-100">
    <div class="preloader-icon"></div>
    <!--<div class="preloader-text mt-3 small wow fadeIn">Loading<span id="typed-2"></span></div>
    <div id="typed-2-strings" class="d-none">
        <span>...</span>
    </div>-->
</div>
