<!-- #prices -->
<section id="prices" class="text-light bg-black">

    <!-- .container -->
    <div class="container py-7">

        <!-- .section-title -->
        <div class="section-title text-center">

            <div class="row justify-content-center">
                <div class="col-4 col-sm-3 col-md-2">
                    <div class="bg-primary py-2 mb-3 display-4">
                        <i class="fas fa-money-bill"></i>
                    </div>
                </div>
            </div>

            <h2 class="font-family-2 mb-6 display-4">
                Prezzi
            </h2>

        </div>
        <!-- /.section-title -->

        <!-- .section-content -->
        <div class="section-content text-center">

            <h2 class="font-family-2 mb-5 text-muted">
                Piani offerti
            </h2>

            <!-- .row -->
            <div class="row">
                <div class="col-md-4">

                    <div class="card card-price font-family-3 text-muted overflow-hidden border-0 mb-4">

                        <div class="card-header pt-5 pb-4 border-0">
                            <h3 class="card-title position-relative text-uppercase mb-5">Standard</h3>
                            <p class="h3 position-relative font-weight-light mb-0 d-flex justify-content-center">
                                <span class="sign align-self-center">€</span>
                                <span class="currency align-self-center px-1">15</span>
                                <span class="cent align-self-center pt-3">.00</span>
                                <span class="month text-uppercase align-self-end">/MESE</span>
                            </p>
                        </div>
                        <div class="card-body px-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">Smart</span> live streaming 24h</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark"><i class="fab fa-youtube"></i></span> Canale YouTube</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">5</span> ore/anno Live Chat, Email & Tel Support</li>
                            </ul>
                            <a class="scrollto btn btn-lg btn-outline-primary rounded text-uppercase py-2 px-4 my-4" href="#contact">
                                Sign up
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="card card-price font-family-3 text-muted overflow-hidden border-0 mb-4 active">

                        <div class="card-header pt-5 pb-4 border-0">
                            <h3 class="card-title position-relative text-uppercase mb-5">Premium</h3>
                            <p class="h3 position-relative font-weight-light mb-0 d-flex justify-content-center">
                                <span class="sign align-self-center">€</span>
                                <span class="currency align-self-center px-1">25</span>
                                <span class="cent align-self-center pt-3">.00</span>
                                <span class="month text-uppercase align-self-end">/MESE</span>
                            </p>
                        </div>
                        <div class="card-body px-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">Smart</span> live streaming 24h</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark"><i class="fab fa-youtube"></i></span> Canale YouTube</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">10</span> ore/anno Live Chat, Email & Tel Support</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">Custom</span> domain address</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">NO</span> Ads on stream page</li>
                            </ul>
                            <a class="scrollto btn btn-lg btn-outline-primary rounded text-uppercase py-2 px-4 my-4" href="#contact">
                                Sign up
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="card card-price font-family-3 text-muted overflow-hidden border-0">

                        <div class="card-header pt-5 pb-4 border-0">
                            <h3 class="card-title position-relative text-uppercase mb-5">Business</h3>
                            <p class="h3 position-relative font-weight-light mb-0 d-flex justify-content-center">
                                <span class="sign align-self-center">€</span>
                                <span class="currency align-self-center px-1">80</span>
                                <span class="cent align-self-center pt-3">.00</span>
                                <span class="month text-uppercase align-self-end">/MESE</span>
                            </p>
                        </div>
                        <div class="card-body px-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">Smart</span> live streaming 24h</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark"><i class="fab fa-youtube"></i></span> Canale YouTube</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">24/7</span> ore/anno Live Chat, Email & Tel Support</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">Custom</span> domain address</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">NO</span> Ads on stream page</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">2000+</span> concurrent viewers</li>
                                <li class="list-group-item border-bottom-0"><span class="font-weight-bold text-dark">NO</span> logo sul video</li>
                            </ul>
                            <a class="scrollto btn btn-lg btn-outline-primary rounded text-uppercase py-2 px-4 my-4" href="#contact">
                                Sign up
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.section-content -->

    </div>
    <!-- /.container -->

</section>
<!-- /#prices -->
