<!-- #services -->
<section id="services" class="text-light bg-dark position-relative jarallax" style="background-image: url(assets/img/jarallax/2.jpg);">

    <div class="bg-black opacity-8 position-absolute w-100 h-100"></div>

    <!-- .container -->
    <div class="container py-7 position-relative">

        <!-- .section-title -->
        <div class="section-title text-center">

            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="bg-primary py-2 mb-3 display-4">
                        <i class="fas fa-bullseye"></i>
                    </div>
                </div>
            </div>

            <h2 class="font-family-2 mb-6 display-4">
                Servizi Streaming
            </h2>

        </div>
        <!-- /.section-title -->

        <!-- .section-content -->
        <div class="section-content text-center">

            <div class="row">
                <div class="col-sm-6 col-md-4 mb-3 pt-3 col-hover wow fadeIn" data-wow-duration="1s">
                    <img class="text-primary mb-3 w-50 h-50 w-sm-25 h-sm-25" src="/assets/img/svg/it.svg" alt="" />
                    <h3 class="mb-3">Consulenza</h3>
                    <p>Ti consigliamo che strumenti utilizzare per trasmettere un flusso in
                        H.264 (telecamere IP, USB, RaspiCam o qualsiasi codificatore
                        H.264..)</p>
                    <div class="angle angle-top-left"></div>
                    <div class="angle angle-bottom-right"></div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3 pt-3 col-hover wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <img class="text-primary mb-3 w-50 h-50 w-sm-25 h-sm-25" src="/assets/img/svg/live-stream.svg" alt="" />
                    <h3 class="mb-3">Flusso streaming AUTOMATICO</h3>
                    <p>Trasmetti in totale autonomia e automatizzata la tua camera al tuo sito
                        Web, YouTube, Facebook, Twitch, Periscope, Vimeo, Wowza , AMS, Red5 e
                        altro.</p>
                    <div class="angle angle-top-left"></div>
                    <div class="angle angle-bottom-right"></div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3 pt-3 col-hover wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <img class="text-primary mb-3 w-50 h-50 w-sm-25 h-sm-25" src="/assets/img/svg/cctv.svg" alt=""/>
                    <h3 class="mb-3">Installazione</h3>
                    <p>Ti guidiamo all'installazione delle telecamere o altro hardware tramite
                        nostri tecnici o da remoto. Una volta installati tutto funziona in
                        automatico.</p>
                    <div class="angle angle-top-left"></div>
                    <div class="angle angle-bottom-right"></div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3 pt-3 col-hover wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <img class="text-primary mb-3 w-50 h-50 w-sm-25 h-sm-25" src="/assets/img/svg/share.svg" alt="" />
                    <h3 class="mb-3">Social Media</h3>
                    <p>Hai bisogno di aprire o aggiornare una pagina web? Devi gestire il tuo
                        canale social? Ti aiutiamo noi.</p>
                    <div class="angle angle-top-left"></div>
                    <div class="angle angle-bottom-right"></div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3 pt-3 col-hover wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                    <img class="text-primary mb-3 w-50 h-50 w-sm-25 h-sm-25" src="/assets/img/svg/director.svg" alt="" />
                    <h3 class="mb-3">Regia</h3>
                    <p>Per eventi o manifestazioni in LIVE c'è la possibilità di gestire anche
                        una regia.</p>
                    <div class="angle angle-top-left"></div>
                    <div class="angle angle-bottom-right"></div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3 pt-3 col-hover wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                    <img class="text-primary mb-3 w-50 h-50 w-sm-25 h-sm-25" src="/assets/img/svg/platform.svg" alt="" />
                    <h3 class="mb-3">Software dedicati</h3>
                    <p>Se hai bisogno di un software personalizzato per la gestione dello
                        streaming ti aiutiamo a trovarlo o farlo.</p>
                    <div class="angle angle-top-left"></div>
                    <div class="angle angle-bottom-right"></div>
                </div>
            </div>

        </div>
        <!-- /.section-content -->

    </div>
    <!-- /.container -->

</section>
<!-- /#services -->
