<!-- #testimonials -->
<section id="testimonials" class="text-light bg-black position-relative jarallax" style="background-image: url(assets/img/jarallax/1.jpg);">

    <div class="bg-black opacity-8 position-absolute w-100 h-100"></div>

    <!-- .container -->
    <div class="container py-7 position-relative">

        <!-- .section-title -->
        <div class="section-title text-center">

            <div class="row justify-content-center">
                <div class="col-5 col-md-4 col-lg-3 col-xl-2">
                    <div class="bg-primary py-2 mb-3 display-4">
                        <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    </div>
                </div>
            </div>

            <h2 class="font-family-2 mb-6 display-4">
                Case History
            </h2>

        </div>
        <!-- /.section-title -->

        <!-- .section-content -->
        <div class="section-content text-center">

            <ul class="owl-carousel owl-theme p-0" data-options="{
                    loop: true,
		            margin: 30,
		            autoplay: 7000,
		            autoWidth: false,
		            nav: false,
		            dots: true,
		            items: 3,
		            smartSpeed: 1500,
		            autoplayHoverPause: true,
		            responsive: {
		                0: {items: 1}, // from 0 up
		            	576: {items: 2}, // from 576 up
		            	768: {items: 3} // from 768 up
		            }
                }">
                <li class="item d-flex flex-column align-items-center justify-content-center">
                    <a class="d-block mb-4 w-sm-50" href="https://www.youtube.com/c/parrocchiamonteforte/live" target="_blank">
                        <img class="rounded-circle" src="/assets/img/clients/1.jpg" alt="">
                    </a>
                    <p>Tutte le celebrazioni possono essere viste dal vivo sulla piattaforma Youtube e dal sito.</p>
                    <p class="text-primary mt-2">
                        <i class="fas fa-lg fa-quote-left"></i>
                    </p>
                    <p class="text-uppercase font-weight-bold small mb-1">Parrocchia Monteforte d'Alpone (VR)</p>
                    <p class="text-uppercase small">AutoLive Streaming on Youtube</p>
                </li>
                <li class="item d-flex flex-column align-items-center">
                    <a class="d-block mb-4 w-sm-50" href="https://www.parrocchianegrar.it/" target="_blank">
                        <img class="rounded-circle" src="/assets/img/clients/2.jpg" alt="">
                    </a>
                    <p>Tutte le celebrazioni possono essere viste dal vivo dal sito della parrocchia.</p>
                    <p class="text-primary mt-2">
                        <i class="fas fa-lg fa-quote-left"></i>
                    </p>
                    <p class="text-uppercase font-weight-bold small mb-1">Parrocchia di Negrar (VR)</p>
                    <p class="text-uppercase small">AutoLive Streaming</p>
                </li>
                <li class="item d-flex flex-column align-items-center">
                    <a class="d-block mb-4 w-sm-50" href="#contact">
                        <img class="rounded-circle" src="/assets/img/clients/3.jpg" alt="">
                    </a>
                    <p>Il prossimo case History sara il tuo?</p>
                    <p class="text-primary mt-2">
                        <i class="fas fa-lg fa-quote-left"></i>
                    </p>
                    <p class="text-uppercase font-weight-bold small mb-1">Per maggiori informazioni</p>
                    <p class="text-uppercase small">Contattaci</p>
                </li>
            </ul>

        </div>
        <!-- /.section-content -->

    </div>
    <!-- /.container -->

</section>
<!-- /#testimonials -->
