{{> header}}

<!-- #home -->
<section id="home" class="player text-light bg-black position-relative vh-100">

    <div class="bg-black opacity-7 position-absolute w-100 h-100"></div>

    <!-- .container -->
    <div class="container py-5 position-relative vh-100">

        <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">

            <img class="img-fluid mb-1 wow fadeIn" src="/assets/img/logo/logo-big.png" alt="" data-wow-duration="2s" />

            <div class="typed-wrap mb-5 wow fadeIn">
                <h4 class="text-primary text-uppercase">
                    &nbsp;<span id="typed-1"></span>&nbsp;
                </h4>
                <div id="typed-1-strings" class="d-none">
                    <span>Lo streaming dove vuoi TU</span>
                    <span>Servizio automatico di streaming 24/7/365</span>
                    <span>Trasmetti le tue dirette ad orari prestabiliti</span>
                    <span>Ilive.you ricodifica il segnale della tua videocamera</span>
                    <span>E lo invia a YouYube, Twitch, Facebook, Vimeo, ecc.</span>
                    <span>Ti basta solo accendere e spegnere la videocamera</span>
                    <span>E a tutto il resto pensa Ilive.you</span>
                    <span>Se il COVID ti ha messo i ginocchio</span>
                    <span>Ilive.you ti aiuta a rialzarti</span>
                    <span>Il nostro Team di esperti è a tua disposizione</span>
                    <span>Assistenza a 360° da remoto o in loco</span>
                    <span>Guida all'installazione del set video</span>
                    <span>Regia per eventi o manifestazioni Live</span>
                    <span>Software dedicati alla gestione di Live private</span>
                    <span>Configurazione dei canali social</span>
                    <span>Numerose parrocchie si sono affidate a noi</span>
                    <span>Per lo streaming automatizzato delle sante messe</span>
                    <span>Aziende, scuole ed enti comunali utilizzano Ilive.you</span>
                    <span>Per trasmettere le loro riunioni riservate</span>
                    <span>Ilive.you aiuta musei, hotel e aziende edili</span>
                    <span>A monitorare 24H al giorno i luoghi interessati</span>
                    <span>Contatta ora il nostro Team commerciale</span>
                    <span>Riceverai un preventivo senza alcun impegno</span>
                </div>
            </div>

            <div class="w-100 wow fadeIn" data-wow-duration="2s" data-wow-delay="5s">

                <h5 class="text-white mb-2">
                    Iscriviti alla nostra newsletter
                </h5>

                <div class="row justify-content-center">
                    <div class="col-8 col-md-5 col-lg-4 col-xl-3">

                        <form data-sync class="needs-validation" novalidate method="POST" autocomplete="off" role="form" action="https://you.us17.list-manage.com/subscribe/post">
                            <input type="hidden" name="u" value="7ed649265144fde9c266af4b1">
                            <input type="hidden" name="id" value="fd5a1755a7">

                            <div class="input-group">
                                <input required name="MERGE0" id="MERGE0" type="email"
                                       class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" autocomplete="off" data-loading-text="<span class='spinner-border spinner-border-sm mr-1' role='status' aria-hidden='true'></span> Attendere&hellip;">
                                        Iscriviti <i class="fas fa-at ml-1"></i>
                                    </button>
                                </div>
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-check text-white-50 small mt-1">
                                <input required class="form-check-input" name="privacy" type="checkbox" value="1" id="newsletter-privacy">
                                <label class="form-check-label" for="newsletter-privacy">
                                    Ho letto la <a data-fancybox data-type="ajax"
                                                   data-filter="main"
                                                   data-caption="Privacy Policy"
                                                   data-src="/privacy.html"
                                                   title="Privacy Policy"
                                                   href="javascript:;">Privacy Policy</a> e acconsento
                                </label>
                                <div class="invalid-feedback"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <a id="scrollto-next" class="scrollto position-absolute text-uppercase text-decoration-none small" href="#about">
        <i class="fas fa-chevron-left"></i> Scopri
    </a>

</section>
<!-- /#home -->

{{> about}}
{{> services}}
{{> prices}}
{{> accessory}}
{{> testimonials}}
{{> partners}}
{{> contact}}

{{> footer}}
