{{> header}}

<!-- #main -->
<section id="main" class="text-light bg-dark pt-8">

    <!-- .container -->
    <div class="container py-7">

        <main>

            <!-- .section-title -->
            <div class="section-title text-center">

                <div class="row justify-content-center">
                    <div class="col-4 col-sm-3 col-md-2">
                        <div class="bg-primary py-2 mb-3 display-4">
                            <i class="fas fa-landmark"></i>
                        </div>
                    </div>
                </div>

                <h2 class="font-family-2 mb-6 display-4">
                    Privacy Policy
                </h2>

            </div>
            <!-- /.section-title -->

            <!-- .section-content -->
            <div class="section-content">

                <h3 class="mb-4">Informativa ai sensi dell’articolo 13 del D.Lgs. 196/2003</h3>

                <p>Informativa ai sensi dell’articolo 13 del D.Lgs. 196/2003 (codice in materia di protezione dei dati personali). La informiamo che il trattamento dei dati conferiti ha come scopo quello di procedere all’esecuzione dei servizi richiesti.
                    I dati verranno trattati con supporti cartacei, informatici o su ogni altro tipo di supporto idoneo, nel rispetto delle misure minime di sicurezza ai sensi del Disciplinare Tecnico in materia di misure minime di sicurezza, Allegato B del del D.lgs. n.196/2003.</p>

                <p>I dati personali potranno essere comunicati a:</p>

                <ul>
                    <li>Personale dell’Azienda in qualità di responsabili e incaricati al trattamento per la gestione delle pratiche relative al contratto posto in essere; il personale è stato debitamente istruito in materia di sicurezza dei dati personali e del diritto alla privacy.</li>
                    <li>Organi di Stato preposti a verifiche e controlli circa la regolarità degli adempimenti contabili e fiscali previsti dalla legge.</li>
                    <li>Soggetti esterni che svolgono specifici incarichi per conto dell’azienda.</li>
                </ul>

                <p>Resta in ogni caso fermo il divieto di comunicare o diffondere i Suoi dati personali a soggetti non necessari per l’espletamento dei servizi o prodotti da Lei richiesti.
                    Il conferimento dei dati che le vengono richiesti è obbligatorio, l’eventuale rifiuto di fornire tali dati comporta il mancato perferzionamento o mantenimento dei servizi a noi richiesti.</p>

                <p>Il titolare del trattamento, nella persona del suo legale rappresentante, è:</p>

                <blockquote>
                    Alberto Poletto
                    <br>Via borgo grande, 19/B
                    <br>37044 Cologna Veneta (VR)
                    <br>Italy
                    <br>tel & fax: +39 0442 84987
                </blockquote>

                <p>In ogni momento potrà esercitare i Suoi diritti nei confronti del titolare del trattamento, ai sensi dell’art.7 del D.lgs.196/2003, che per Sua comodità riproduciamo integralmente:</p>

                <p>Art. 7 del Decreto Legislativo n.196/2003 Diritto di accesso ai dati personali ed altri diritti</p>
                <p>1. L’interessato ha diritto di ottenere la conferma dell’esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.</p>
                <p>2. L’interessato ha diritto di ottenere l’indicazione:</p>
                <p>a) dell’origine dei dati personali; b) delle finalità e modalità del trattamento;</p>
                <p>c) della logica applicata in caso di trattamento effettuato con l’ausilio di strumenti elettronici;</p>
                <p>d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell’articolo 5, comma 2;</p>
                <p>e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.</p>
                <p>3. L’interessato ha diritto di ottenere:</p>
                <p>a) l’aggiornamento, la rettificazione ovvero, quando vi ha interesse, l’integrazione dei dati;</p>
                <p>b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;</p>
                <p>c) l’attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.</p>
                <p>4. L’interessato ha diritto di opporsi, in tutto o in parte:</p>
                <p>a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorchè pertinenti allo scopo della raccolta;</p>
                <p>b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</p>

            </div>
            <!-- /.section-content -->

        </main>

    </div>
    <!-- /.container -->

</section>
<!-- /#main -->

{{> testimonials}}
{{> partners}}
{{> contact}}

{{> footer}}
