{{> header}}

<!-- #main -->
<section id="main" class="text-light bg-dark pt-8">

    <!-- .container -->
    <div class="container py-7">

        <main>

            <!-- .section-title -->
            <div class="section-title text-center">

                <div class="row justify-content-center">
                    <div class="col-4 col-sm-3 col-md-2">
                        <div class="bg-primary py-2 mb-3 display-4">
                            <i class="fas fa-video"></i>
                        </div>
                    </div>
                </div>

                <h2 class="font-family-2 mb-6 display-4">
                    Parrocchia di S. Martino di Negrar (Verona)
                    <br><small>L'esperienza dello streaming automatico della parrocchia di Monteforte viene adottato anche dalla parrocchia S.Martino di Negrar</small>
                </h2>

            </div>
            <!-- /.section-title -->

            <!-- .section-content -->
            <div class="section-content">

                <div class="row">
                    <div class="col-md-7">

                        <h4>2010</h4>
                        <p>Durante l'alluvione del 1° novembre 2010 la parrocchia di Monteforte allestisce un primo sito web provvisorio per comunicazioni e avvisi importanti verso la popolazione di Monteforte. Il sito fornisce numeri, recapiti e comunicazioni spesso fondamentali per superare l'emergenza alluvione.</p>

                        <h4>2019</h4>
                        <p>Anche la Parrocchia di Negrar si attrezza con una ottima telecamera di video sorveglianza che fa il duplice servizio di monitoraggio e trasmissione audio-video per i social.
                            Le messe e le celebrazioni vengono trasmesse tramite il sito web della parrocchia.</p>

                        <p class="display-4 font-family-4 my-5">Il servizio di Streaming Ilive.YOU ti permette di stare pi&ugrave; vicino a chi gi&agrave; ti conosce e di avvicinare chi non ti ha ancora scoperto!</p>

                        {{> sharer}}

                        <ul class="list-inline">
                            <li class="list-inline-item wow fadeIn" data-wow-duration="1s">
                                <a class="btn btn-outline-primary" href="https://www.youtube.com/channel/UCQ2TJTXzHYyd0JGT3QFXCbA" target="_blank">
                                    Vedi Live Streaming <i class="fas fa-video ml-1"></i>
                                </a>
                            </li>
                            <li class="list-inline-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                <a class="btn btn-primary scrollto" href="#contact">
                                    Richiedi informazioni <i class="fas fa-info-circle ml-1"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-5">

                        <a class="d-md-block" data-fancybox="gallery" href="/assets/img/testimonials/parrocchia-negrar/lg/1.jpg">
                            <img src="/assets/img/testimonials/parrocchia-negrar/md/1.jpg" class="img-thumbnail ml-md-4 mb-4" alt="">
                        </a>

                        <a class="d-md-block" data-fancybox="gallery" href="/assets/img/testimonials/parrocchia-negrar/lg/2.jpg">
                            <img src="/assets/img/testimonials/parrocchia-negrar/md/2.jpg" class="img-thumbnail ml-md-4 mb-4" alt="">
                        </a>

                    </div>
                </div>

            </div>
            <!-- /.section-content -->

        </main>

    </div>
    <!-- /.container -->

</section>
<!-- /#main -->

{{> testimonials}}
{{> partners}}
{{> contact}}

{{> footer}}
